body{background-color:white;}

.h1{text-align: center; padding: 40px; background-color: #1af3f762; border-radius:10px ;}

.h2{text-align: center; background-color: #1af3f762; border-radius:10px ; padding: 20px;}
